{% extends 'base.html' %}
{% block content %}
        <div class="card">
            <div class="grid">
                <div>
                    <h1>{{ purchases.title }}</h1>
                    <div class="meta">Категория: Еда • Дата: {{ purchases.buy_date|date:"j E Y" }}</div>
                    
                        <section style="margin-top:18px">
                        <h2 style="margin:0 0 8px 0;font-size:1rem">Покупка</h2>
                        <div class="detail-row">
                            <div>₽ {{ purchases.cost }}</div>
                        </div>
                    </section>
                    <section style="margin-top:18px">
                        <h2 style="margin:0 0 8px 0;font-size:1rem">Описание</h2>
                        <p style="margin:0;color:var(--muted)">{{ purchases.description }}</p>
                    </section>



                </div>

                <aside>

                    <div style="margin-top:12px;display:flex;gap:8px">
                        <a href="{% url 'detail_edit' purchases.id %}">Редактировать</a>
                        <a href="{% url 'detail_delete' purchases.id %}">Удалить</a>
                    </div>

                </aside>

            </div>
        </div>
{% endblock %}